<template>
    <div class="hello">
      <LitsUsers />
    </div>
</template>

<script>
import LitsUsers from '../components/ListUsers.vue'

export default {
  name: 'Main',
  components: { LitsUsers }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
