<template>
  <div class="wrap-list">
    <div class="list">
      <div v-for="user in users" :key="user.id.value" class="wrap-card">
        <UserCard :user="user" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import UserCard from './UserCard'
export default {
  computed: mapState({
    users: ({users}) => users.users
  }),
  methods: mapActions('users', [
    'getUsers'
  ]),
  created: function () {
    this.getUsers()
  },
  components: { UserCard }
}
</script>

<style scoped>
  .wrap-card {
    display: inline-block;
    width: 15vw;
    margin-left: 1vw;
    margin-top: 1vh;
  }
  .wrap-list {
    display: flex;
    justify-content: center;
  }
</style>
