<template>
  <div class="card">
    <img :src="user.picture.thumbnail" alt="">
    <div>
      {{user.name.first + ' ' + user.name.last}}
    </div>
  </div>
</template>

<script>
export default {
  props: ['user']
}
</script>

<style scoped>
.card {
  height: 200px;
  background: rgba(179, 180, 222, 0.45);
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}
</style>
